{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'training/css/styles.css'%}" rel="stylesheet"/>
</head>
<body>
{% if user.is_authenticated %}
<ul>
    {% if not title == 'Меню' %}<li><a href="{% url 'training:menu'  %}">Меню</a></li> {% endif %}
    <li class="last">{{user.username}} | <a href="{% url 'users:logout'  %}">Выйти</a></li>
</ul>
{% endif %}
{% block content %} {% endblock %}
</body>
</html>