{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>
<form id="exercise-form"
        action="{% url 'training:exercise_grade' training_mode difficulty_level exercise.num %}"
        method="post">
      {% csrf_token %}
          <div><label for="task_field">{%if training_mode == "translate"%}Выполните перевод на текста на Английский язык:
              {%else%}
              Прослушайте сообщение и напишите услышанное:{%endif%} </label>
              {%if training_mode == "translate"%}
              <p id="task_field">{{ exercise.task }}</p>
              {%else%}
              <audio controls src="{{ exercise.audio_task.url }}"></audio>
              {%endif%}
          </div>
          <div>
              <label for="answer_field">Поле для ответа: </label>
              <textarea name="answer" id="answer_field" {% if users_answer != None %} readonly {%endif %}>
                  {% if users_answer != None %} {{users_answer}} {%endif %}
              </textarea>
          </div>
      <div class="text-center">
          <input type="submit" {% if users_answer != None %} disabled {%endif %}
                 value="Ответить"/>
      </div>
  </form>
<div>
  {% if next_exercise %}
      <div>
          <a href="{% url 'training:display_exercise' training_mode difficulty_level next_exercise.num %}">Следующее задание</a>
      </div>
    {%else %}
    <div>
          <a href="{% url 'training:exercise_grade' training_mode difficulty_level exercise.num %}">К результатам</a>
      </div>
  {% endif %}
  {% if prev_exercise %}
      <div>
          <a href="{% url 'training:display_exercise' training_mode difficulty_level prev_exercise.num %}">Прошлое задание</a>
      </div>
  {% endif %}
</div>
{% endblock %}