{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>
<form method="post">
    {% csrf_token %}
    <input  type="hidden" name="TypeOfTraining" value="Translate">
    <h2>Режим "Перевод"</h2>
    <p><label for="dif_sel_id">Уровень сложности:</label>
        <select id="dif_sel_id" name="diff_option" size="1">
            <option value="1">Легкий</option>
            <option value="2">Средний</option>
            <option value="3">Сложный</option>
        </select>
    </p>
    <p><button type="submit">Перейти к тесту</button> </p>

</form>
<ul>
    {% for option in session_list %}
    <li><a href="{% url option.ref  %}">{{option.content}}</a></li>
    {% endfor %}
</ul>
{% endblock %}