{% extends 'base.html' %}

{% block content %}

<div class="form-users-container">
   <div class="form-users-css">
      <h1>Новый пароль</h1>
      <form method="post" class="needs-validation form-users-inputs form-new-pass" novalidate>
         {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}"/>
         {% for f in form %}
         <div class="form-obj-set">
            <div class="form-obj-field">{{f}}</div>
           <div class="form-error">
               {{f.errors}}
           </div>
         </div>
         {% endfor %}
         <div  class="form-error">{{ form.non_field_errors}}</div>
         <p><button id="new-pass-btn" class="btn-default btn-users" type="submit">Сохранить</button></p>
      </form>
   </div>
</div>

{% endblock %}