{% extends 'base.html' %}

{% block content %}
<div class="form-users-container">
   <div class="form-users-css form-email-reset">
      <h1>Восстановление</h1>
      <form method="post" class="needs-validation form-users-inputs" novalidate>
         {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}"/>
         {% for f in form %}
             <div id="input-set-email" class="input-group has-validation email-input">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                {{f}}
             </div>
          <div class="form-error">
               {{f.errors}}
           </div>
         {% endfor %}
         <div class="form-error">{{ form.non_field_errors}}</div>
         <p><button id="reset-btn" class="btn-default btn-users" type="submit">Сбросить пароль</button></p>
      </form>
   </div>
</div>


{% endblock %}