{% extends 'base.html' %}

{% block content %}
<div class="form-users-container form-pass-change-done-size">
   <div class="form-users-css form-pass-change-done-size">
       <div class="title-profile">
           <h1>Пароль успешно изменен!</h1>
       </div>
       <div class="form-users-refs ref-position-profile">
          <a class="ref-btn-users ref-animatic-btn-users" href="{% url 'training:training_session'%}">Вернуться в главное окно</a>
      </div>
       </div>
</div>

{% endblock %}
