{% extends 'base.html' %}

{% block content %}
<div class="form-users-container">
   <div class="form-users-css">
      <div class="title-profile">
          <h1>{{title}}</h1>
      </div>
       <div class="inside-password-change-container">
            <form method="post" class="needs-validation form-users-inputs" novalidate>
         {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}"/>

         {% for f in form %}

         <div class="form-obj-set">
           <div class="form-obj-field">{{f}}</div>
           <div class="form-error change-pass-errors">
               {{f.errors}}
           </div>
         </div>

         {% endfor %}
         <div class="form-error">{{ form.non_field_errors}}</div>
         <button class="btn-default btn-users" type="submit">Сохранить</button>
      </form>
       </div>
      <div class="form-users-refs ref-position-profile">
          <a class="ref-btn-users ref-animatic-btn-users" href="{% url 'users:profile' %}">Перейти к изменению профиля</a>
      </div>
   </div>
</div>

{% endblock %}